@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Orbitron', sans-serif !important;
    font-size: 12px;
}

@media (min-width: 768px) {
    * {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    * {
        font-size: 18px;
    }
}

.responsive-font {
    font-size: 24px;
}

.hFont {
    font-size: 16px;
}

@media (min-width: 768px) {
    .responsive-font {
        font-size: 28px;
    }
    .hFont {
        font-size: 18px;
    }
}
@media (min-width: 1024px) {
    .responsive-font {
        font-size: 32px;
    }
    .hFont {
        font-size: 20px;
    }
}
@media (min-width: 1368px) {
    .responsive-font {
        font-size: 36px;
    }
    .hFont {
        font-size: 24px;
    }
}

*:focus {
    box-shadow: none !important;
  }
